<{includeq file='db:wadoku_header.html'}>
<{if $wadoku_japaneseword}>
<div id="wadoku-japaneseword-container">
	<h1><{$wadoku_japaneseword.midashi_go_field}></h1>
		<div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_HIRAGANA_FIELD}></b>: <{$wadoku_japaneseword.hiragana_field}></div>
		<div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_ROMAJI_FIELD}></b>: <{$wadoku_japaneseword.romaji_field}></div>
		<div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_TRANSKRIPTION_FIELD}></b>: <{$wadoku_japaneseword.transkription_field}></div>
		<div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_TRANSLATION_FIELD}></b>: <{$wadoku_japaneseword.translation_field}></div>
		<div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_ENTRY_TAGS_FIELD}></b>: <{$wadoku_japaneseword.entry_tags_field}></div>
		<{if $isAdmin}>
		<div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_USERID_FIELD}></b>: <{$wadoku_japaneseword.userid_field}></div>
		<div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_WORD_DATE_FIELD}></b>: <{$wadoku_japaneseword.word_date_field}></div> <div><b><{$smarty.const._CO_WADOKU_JAPANESEWORD_ADMIN_EXTRA_FIELD}></b></div>
		<div><{$wadoku_japaneseword.admin_extra_field}></div>
		<{/if}>
</div>
<{/if}>
<{if $wadoku_japaneseword_table}>
<h1><{$wadoku_title}></h1>
<{$wadoku_japaneseword_table}>
<{/if}>
<{includeq file='db:wadoku_footer.html'}>