<{if $wadoku_modulehelp_title}><h1><{$wadoku_modulehelp_title}></h1><{/if}>
<{if $wadoku_modulehelp_info}><p><{$wadoku_modulehelp_info}></p><{/if}>
<p><b>Welcome to the WaDoku</b></p>
<p></p>
<p>The goal from this module is to create a dictionry for Japanese words.</p>
<p></p>
<p>Therefore you can input "Kanji", pronunciation in "Hiragana", roman letters "Romaji", a transcription,Translation words.</p>
<p></p>
<p>We recommend to use the "Tag" for your option. If you like to learn or to sort the words.</p>
<p></p>
<p>If you like, you can show a block. The block shows in every page a random word from you.</p>
<p></p>
<p>The module shows in the front end a "Quick search". Take this search to find words in "Kanji", "Hiragana" and in your "Translation".</p>
<p></p>
<p>WaDoku has a global search function for the ImpressCMS too.</p>
<p></p>
<p><b>Todo</b></p>
<p>- add sprockets for Tag</p>
<p>- add the Romaji word for SEO in the URL</p>

<p></p><{if $addmodulehelp}><{includeq file='db:system_common_form.html' form=$addmodulehelp}><{/if}>